[Desktop Entry]
Name=CNN
Exec=vlc http://hd.ctoxi.com/auto/v806
Comment=
Terminal=false
Icon=cinnamon-panel-launcher
Type=Application
Name[en_US]=Willow
